<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to the home page</h1>

    <h4>New User?</h4>
    <a href="/signup">Signup</a>


    <h4>Already a User?</h4>
    <a href="/login">Login</a>

    <h4>Login Via google</h4>
    <a href="/auth/google">Login</a>
</body>
</html>